@import "tailwindcss";

@theme {
  --color-imdb-gold: #f5c518;
  --color-imdb-gold-dark: #dba506;
  --color-imdb-black: #000000;
  --color-imdb-blue: #5799ef;
  --color-imdb-green: #40a040;
  --color-imdb-red: #cc3333;
  --color-surface: #121212;
  --color-soft-white: #ffffff;
}

@layer base {
  body {
    @apply bg-imdb-black text-soft-white antialiased;
    margin: 0;
    font-family:
      system-ui,
      -apple-system,
      sans-serif;
  }
}
